
@import url(https://fonts.googleapis.com/css?family=Orbitron);

body {
  margin: 0;
  font-weight: 300;
  color: rgba(250, 250, 250, .8);
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 1.5px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-image: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
}


h3,
h6 {
  padding: 0px 20px;
  margin-bottom: 5px;
}

h6 {
  margin-top: 0px;
  text-indent: 15px;
  color: white;
}




.honeycomb-menu-section .honeycomb svg {
	max-width: 100%;
	margin: 0px auto;
	overflow: visible;
	/*
    padding: 30px;
    margin-bottom: 20px;
*/
}

.honeycomb-menu-section .honeycomb svg .main-menu-group text tspan {
	pointer-events: none;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
	fill: #FFFFFF;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

.honeycomb-menu-section .honeycomb svg .main-menu-group text {
	pointer-events: none;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
	fill: #FFFFFF;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

.honeycomb-menu-section .honeycomb svg .menu:hover text {
	fill: #f00;
}

.honeycomb-menu-section .honeycomb svg .menu:hover text tspan {
	fill: #f00;
}


/*.honeycomb-menu-section .honeycomb svg .menu path{
	position: relative;
}*/

.honeycomb-menu-section .honeycomb svg .menu .main-hex {
	transition: 0.4s all ease-in-out;
	-webkit-transition: 0.4s all ease-in-out;
	transform: scale(1);
	-webkit-transform: scale(1);
	transform-origin: center;
	-webkit-transform-origin: center;
}

.honeycomb-menu-section .honeycomb svg .menu {
	transform: scale(1);
	-webkit-transform: scale(1);
	position: relative;
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}


/*
.honeycomb-menu-section .honeycomb svg .menu:hover .main-hex{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}
*/

.honeycomb-menu-section .honeycomb svg .menu:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	filter: drop-shadow(5px 5px 100px 10px black);
	-webkit-filter: drop-shadow(5px 5px 100px 10px #000);
	z-index: 4;
	-webkit-transform-origin: center;
	transform-origin: center;
}

.honeycomb-menu-section .honeycomb svg .menu * {
	position: relative;
}

.honeycomb-menu-section .honeycomb svg .menu:hover * {
	z-index: 9;
}

.honeycomb-menu-section .honeycomb svg .menu path {
	stroke: rgba(92, 92, 92, 1);
	stroke-opacity: 1;
	stroke-width: 0;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

#blur-filter {
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}