<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com -->
  <title>ICD11</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
  <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/query_style.css') }}" /> 
    

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['Country', 'Popularity'],
          ['Germany', 200],
          ['United States', 1000],
          ['Brazil', 400],
          ['China', 800],
          ['Canada', 700],
          ['France', 600],
          ['India',200],
          ['RU', 400]
        ]);

        var options = {};

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }
</script>
    
</head>
    
    
    
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
        <a class="navbar-brand" href="http://localhost:3000"> <b> HOME </b> </a>
        
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
          <li><a href="#about"><b>ABOUT</b></a></li>
          <li><a href="#services"><b>SERVICES</b></a></li>
          <li><a href="#portfolio"><b>PORTFOLIO</b></a></li>
          <li><a href="#pricing"><b>PRICING</b></a></li>
          <li><a href="#contact"><b>CONTACT</b></a></li>
      </ul>
    </div>
  </div>
</nav>
    

<div class="jumbotron text-center">
  <h1> <span class="fa fa-paw" style="color:white"></span></h1> 
  <h1 style = "font-family:Snell Roundhand;"> Xplorer </h1> 
   <form action = "http://localhost:3000/boot_result_two" method = "POST">
    <div class="input-group">
     <p> source <input  type="text" name = "source" class="form-control" style="height:30px;"  placeholder="1307379503" required> </p>
     <p> target <input  type="text" name = "target" class="form-control" style="height:30px;"  placeholder="1369242951" required> </p>
      <div class="input-group-btn">
           <button type="submit" value = "submit" class="btn btn-danger">Explore</button>
      </div>
    </div>
     <p>Explore the ICD 11 graph and relationship</p> 
  </form>
</div>

  

<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
     
        <h3> Major ICD 11 Trees </h3> 
       <table border = 1, table id="customers">
        <tr>
        <th> ID </th>
        <th> Title </th>
        <th> Decendents </th>
        
        </tr>
         {% for item in info %}
            <tr>
                <td> <b>{{ item['ID'] }}</b> </td>
                <td> <b> {{ item['title'] }}</b> </td>
                <td> <b> {{ item['child']}} </b> </td>
                
            </tr>
         {% endfor %}
      </table>
        </div>
      </div>
    </div>
    
    
    


  
    
 <!-- Container (About Section) -->
<div id="world" class="container-fluid text center">
   
  <div class="row">
   <center>
           <h2> Our Popularity </h2>
       <div id="regions_div" style="width: 900px; height: 500px;"></div>  
      </center>
 </div>
</div>
       
    
    
    
    
 
   
 <!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-eye-open logo-small"></span>
      <h4>EXPLORE</h4>
      <p>Explore the single Disease Defination, Title, ICD 11 Code, and Neighbourhoods and Root of the disease.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-random logo-small"></span>
      <h4>RELATE</h4>
      <p>Find the association of the two diseases theough ICD 11 Disease Graph</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-zoom-in logo-small"></span>
      <h4>FIND CODE</h4>
      <p>Find the ICD 11 code for the known and rare diseases with suggested neighbourhood look up</p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-cog logo-small"></span>
      <h4>COODRINATION</h4>
      <p>Find the machine learning assisted postcoordination code for a specific disease code</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo-small"></span>
      <h4>VALIDATE</h4>
      <p>Validate the disease information with cross reference platform built with PubMed and Reactome</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-tasks logo-small"></span>
      <h4 style="color:#303030;">RESEARCH</h4>
      <p>Project the research goal with implementation of ICD11 Graph</p>
    </div>
  </div>
</div>
    
    





<footer class="footer">
  <p> ICD 11 Codes </p>
  <p> Explore the single Disease </p>
  <p> Explore the disease to disease relationship </p>
</footer>








<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

</body>
</html>
